<div class="wrapper">
  <app-topnavbar></app-topnavbar>
  <app-asidenavbar></app-asidenavbar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
          Users
          <small>List Users</small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a href="#">Users</a></li>
          <li class="active">User List</li>
        </ol>
      </section>
      <section class="content">
          <div class="box">
              <div class="box-header">
                 <h3 class="box-title">Users</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                 <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                       <div class="col-sm-12">
                          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                             <thead>
                                <tr role="row">
                                   <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 288px;">User Id</th>
                                   <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 350px;">Email</th>
                                   <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 312px;">First Name</th>
                                   <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 248px;">Last Name</th>
                                   <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 184px;">Created At</th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr *ngIf="users.length === 0">
                                  <td colspan="5">No records found</td>
                                </tr>
                                <tr role="row" class="odd" *ngFor="let user of users">
                                   <td class="sorting_1">{{user.id}}</td>
                                   <td>{{user.email}}</td>
                                   <td>{{user.firstName | titlecase}}</td>
                                   <td>{{user.lastName | titlecase}}</td>
                                   <td>{{user.createdAt | date:'medium'}}</td>
                                </tr>
                             </tbody> 
                          </table>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- /.box-body -->
           </div>
      </section>
  </div>
  <app-footernavbar></app-footernavbar>
</div>